<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="com.regnosys.rosetta.target" sequenceNumber="1">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2021-12"/>
			<unit id="org.eclipse.draw2d.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.codegen.ecore.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.codegen.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.common.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.ecore.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.ecore.xcore.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.ecore.xcore.lib.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.mwe.core.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.m2e.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
 			<unit id="org.eclipse.xtext.xbase.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://boothen.github.io/Json-Eclipse-Plugin/"/>
			<unit id="jsonedit-feature.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/2021-12"/>
			<unit id="org.apache.logging.log4j.source" version="0.0.0"/>
			<unit id="net.bytebuddy.byte-buddy" version="0.0.0"/>
			<unit id="org.apache.commons.lang3" version="0.0.0"/>
			<unit id="org.junit.jupiter.api" version="0.0.0"/>
			<unit id="org.junit.jupiter.engine" version="0.0.0"/>
			<unit id="org.mockito" version="0.0.0"/>
			<unit id="org.slf4j.api" version="0.0.0"/>
			<unit id="org.slf4j.binding.simple.source" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/xsemantics/milestones/"/>
			<unit id="org.eclipse.xsemantics.doc.feature.feature.group" version="1.20.0.v20210401-0731"/>
			<unit id="org.eclipse.xsemantics.examples.feature.feature.group" version="1.20.0.v20210401-0731"/>
			<unit id="org.eclipse.xsemantics.feature.feature.group" version="1.20.0.v20210401-0731"/>
			<unit id="org.eclipse.xsemantics.feature.source.feature.group" version="1.20.0.v20210401-0731"/>
			<unit id="org.eclipse.xsemantics.implemented.examples.feature.feature.group" version="1.20.0.v20210401-0731"/>
			<unit id="org.eclipse.xsemantics.runtime.feature.feature.group" version="1.20.0.v20210401-0731"/>
			<unit id="org.eclipse.xsemantics.runtime.feature.source.feature.group" version="1.20.0.v20210401-0731"/>
			<unit id="org.eclipse.xsemantics.sdk.feature.group" version="1.20.0.v20210401-0731"/>
			<unit id="org.eclipse.xsemantics.sdk.source.feature.group" version="1.20.0.v20210401-0731"/>
		</location>
	</locations>
</target>