bin/
target/
test-data/
build.acceleo
*~
*.java._trace
.idea/
.*.xtendbin
.metadata/
*.class
.DS_Store
plugin.xml_gen
**/*.iml
.classpath
rune-profiling/dependency-reduced-pom.xml
rune-profiling/reports/

**/.settings
**/src-gen/
**/xtend-gen/
**/emf-gen/
**/src/generated/

com.regnosys.rosetta.web/

.tycho-consumer-pom.xml

# CVE scan reports
./reports/
