bin/
target/
build.acceleo
*~
*.java._trace
*.iml
.idea/
.*.xtendbin
.metadata/
*.class
.DS_Store

**/.settings
**/src-gen/
**/xtend-gen/
**/emf-gen/
**/src/generated/
**/xsemantics-gen/

.antlr-generator-3.2.0-patch.jar
com.regnosys.rosetta.web/

.tycho-consumer-pom.xml
