# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules/

# Debug log from npm
npm-debug.log

# OSX hidden files
.DS_Store

# copy of the Rosetta LSP Java binary
src/rosetta/

# copy of the Rosetta Text Mate grammar
syntaxes/

# compiled output of the plugin
out/

rosetta-language-*.vsix