name: Deploy a branch as a snapshot version.

on:
  workflow_dispatch:
    inputs:
      run-tests:
        type: boolean
        description: Run tests
        default: true

# Cancel previous jobs
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      normalized: ${{ steps.normalize.outputs.normalized }}
    steps:
      - uses: actions/checkout@v4
      - name: Normalize branch name
        id: normalize
        uses: ./.github/actions/normalize-branch-name

  deploy-branch:
    needs: prepare
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy snapshot to Central (composite action)
        uses: ./.github/actions/maven-build
        with:
          set-version: 0.0.0.${{ needs.prepare.outputs.normalized }}-SNAPSHOT
          build-command: install org.sonatype.central:central-publishing-maven-plugin:0.7.0:publish -P release
          run-tests: ${{ inputs.run-tests }}
        env:
          CI_DEPLOY_USERNAME: ${{ secrets.CI_DEPLOY_USERNAME_CENTRAL }}
          CI_DEPLOY_PASSWORD: ${{ secrets.CI_DEPLOY_PASSWORD_CENTRAL }}
          RUNE_GPG_PRIVATE_KEY: ${{ secrets.RUNE_GPG_PRIVATE_KEY }}
          RUNE_GPG_PASSPHRASE: ${{ secrets.RUNE_GPG_PASSPHRASE }}

  wait-for-snapshot:
    needs: [prepare, deploy-branch]
    runs-on: ubuntu-latest
    steps:
      - name: Poll for snapshot availability
        run: |
          GROUP_ID="org/finos/rune"
          ARTIFACT_ID="rune-maven-plugin"
          VERSION="0.0.0.${{ needs.prepare.outputs.normalized }}-SNAPSHOT"

          # Poll for the main artifact JAR
          JAR="${ARTIFACT_ID}-${VERSION}.jar"
          URL="https://central.sonatype.com/repository/maven-snapshots/$GROUP_ID/$ARTIFACT_ID/$VERSION/$JAR"

          echo "Polling $URL"
          for i in {1..30}; do
            if curl --silent --head --fail "$URL" > /dev/null; then
              echo "Snapshot is available!"
              exit 0
            fi
            echo "Not yet... waiting 20s"
            sleep 20
          done
          echo "Snapshot not available after 10 minutes"
          exit 1

  backport-deploy-branch:
    needs: wait-for-snapshot
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy Rosetta Backport snapshot
        uses: ./.github/actions/maven-build
        with:
          working-directory: rosetta-backport
          set-version: 0.0.0.${{ needs.prepare.outputs.normalized }}-SNAPSHOT
          build-command: install org.sonatype.central:central-publishing-maven-plugin:0.7.0:publish -P release
          run-tests: ${{ inputs.run-tests }}
        env:
          CI_DEPLOY_USERNAME: ${{ secrets.CI_DEPLOY_USERNAME }}
          CI_DEPLOY_PASSWORD: ${{ secrets.CI_DEPLOY_PASSWORD }}
          RUNE_GPG_PRIVATE_KEY: ${{ secrets.RUNE_GPG_PRIVATE_KEY }}
          RUNE_GPG_PASSPHRASE: ${{ secrets.RUNE_GPG_PASSPHRASE }}
