name: PR Checks

on:
  pull_request:

# Cancel previous jobs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-on-ubuntu:
    name: Maven Build on Ubuntu
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: ./.github/actions/maven-build
  
  build-on-windows:
    name: Maven Build on Windows
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v5
    - uses: ./.github/actions/maven-build
