name: Build main branch and upload dependency graph

on:
  push:
    branches: [ main ]

# Cancel previous jobs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    outputs:
      build-ts: ${{ steps.capture-ts.outputs.build_ts }}
    steps:
      - uses: actions/checkout@v6
      - name: Capture build timestamp
        id: capture-ts
        run: echo "::set-output name=build_ts::$(date +%s)"
      - name: Build and publish with Maven (composite action)
        uses: ./.github/actions/maven-build
        with:
          build-command: install org.sonatype.central:central-publishing-maven-plugin:0.7.0:publish -P release
        env:
          CI_DEPLOY_USERNAME: ${{ secrets.CI_DEPLOY_USERNAME }}
          CI_DEPLOY_PASSWORD: ${{ secrets.CI_DEPLOY_PASSWORD }}
          RUNE_GPG_PRIVATE_KEY: ${{ secrets.RUNE_GPG_PRIVATE_KEY }}
          RUNE_GPG_PASSPHRASE: ${{ secrets.RUNE_GPG_PASSPHRASE }}

  upload-dependency-graph:
    runs-on: ubuntu-latest
    needs: build-and-publish
    steps:
      - uses: actions/checkout@v6
      # Upload full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
      - name: Update dependency graph
        uses: advanced-security/maven-dependency-submission-action@v5
