name: Publish package to the Maven Central Repository

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Maven Central Repository
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          architecture: x64
          cache: maven
          server-id: ossrh
          server-username: CI_DEPLOY_USERNAME_CENTRAL
          server-password: CI_DEPLOY_PASSWORD_CENTRAL
          gpg-private-key: ${{ secrets.RUNE_GPG_PRIVATE_KEY }}
          gpg-passphrase: GPG_PASSPHRASE
      - name: Set version
        shell: bash
        run: mvn -B versions:set -DnewVersion=${{ github.event.release.tag_name }}
      - name: Publish package
        run: mvn -B clean install org.sonatype.central:central-publishing-maven-plugin:0.7.0:publish -P release -Dcentral-publishing.waitForCompletion=true
        env:
          GPG_KEYNAME: ${{ secrets.RUNE_GPG_KEYNAME }}
          GPG_PASSPHRASE: ${{ secrets.RUNE_GPG_PASSPHRASE }}
          CI_DEPLOY_USERNAME_CENTRAL: ${{ secrets.CI_DEPLOY_USERNAME_CENTRAL }}
          CI_DEPLOY_PASSWORD_CENTRAL: ${{ secrets.CI_DEPLOY_PASSWORD_CENTRAL }}
  
  # It takes some time for the deploy-branch mvn artifacts to maven central. TODO - add a poll or better to remove the need for this wait. 
  delay:
    needs: publish
    runs-on: ubuntu-latest
    steps:
      - uses: GuillaumeFalourd/wait-sleep-action@v1
        with:
          time: '5m'


  backport-publish:
    needs: delay
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Maven Central Repository
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          architecture: x64
          cache: maven
          server-id: ossrh
          server-username: CI_DEPLOY_USERNAME
          server-password: CI_DEPLOY_PASSWORD
          gpg-private-key: ${{ secrets.RUNE_GPG_PRIVATE_KEY }}
          gpg-passphrase: GPG_PASSPHRASE
      - name: Set version
        working-directory: rosetta-backport
        shell: bash
        run: mvn -B versions:set -DnewVersion=${{ github.event.release.tag_name }}
      - name: Publish package
        working-directory: rosetta-backport
        run: mvn -B clean install org.sonatype.central:central-publishing-maven-plugin:0.7.0:publish -P release
        env:
          GPG_KEYNAME: ${{ secrets.RUNE_GPG_KEYNAME }}
          GPG_PASSPHRASE: ${{ secrets.RUNE_GPG_PASSPHRASE }}
          CI_DEPLOY_USERNAME: ${{ secrets.CI_DEPLOY_USERNAME }}
          CI_DEPLOY_PASSWORD: ${{ secrets.CI_DEPLOY_PASSWORD }}
